<button type="button"
        class="btn btn-primary"
        ng-click="changeStatus($ctrl.order.id, $ctrl.order.item.id, 'finished')"
        ng-if="$ctrl.action === 'finished'">Finish
</button>
<button type="button"
        class="btn btn-secondary"
        ng-click="changeStatus($ctrl.order.id, $ctrl.order.item.id, 'waiting')"
        ng-if="$ctrl.action === 'waiting'">Wait
</button>
<button type="button"
        class="btn btn-success"
        ng-click="changeStatus($ctrl.order.id, $ctrl.order.item.id, 'ready')"
        ng-if="$ctrl.action === 'ready'">Ready
</button>
<button type="button"
        class="btn btn-danger"
        ng-click="changeStatus($ctrl.order.id, $ctrl.order.item.id, 'canceled')"
        ng-if="$ctrl.action === 'canceled'">Cancel
</button>
<button type="button"
        class="btn btn-warning"
        ng-click="changeStatus($ctrl.order.id, $ctrl.order.item.id, 'cooking')"
        ng-if="$ctrl.action === 'cooking'">Cook
</button>