<div class="row">
    <div class="col-sm-1">
        <button type="button" class="btn btn-primary" ng-click="refreshMenu()">Refresh</button>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card-deck">
            <item ng-repeat="item in items" data="item"></item>
        </div>
    </div>
</div>