<span class="badge badge-secondary" ng-if="$ctrl.status === 'waiting'">{{ $ctrl.status }}</span>
<span class="badge badge-primary" ng-if="$ctrl.status === 'finished'">{{ $ctrl.status }}</span>
<span class="badge badge-success" ng-if="$ctrl.status === 'ready'">{{ $ctrl.status }}</span>
<span class="badge badge-danger" ng-if="$ctrl.status === 'canceled'">{{ $ctrl.status }}</span>
<span class="badge badge-warning" ng-if="$ctrl.status === 'cooking'">{{ $ctrl.status }}</span>