<div class="row">
    <div class="col-sm-1">
        <button type="button" class="btn btn-primary mt-5" ng-click="refreshOrders()">Refresh</button>
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table table-hover mt-2">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Item</th>
                <th scope="col">Status</th>
                <th scope="col">Time</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="order in orders">
                <th scope="row">{{ order.id }}</th>
                <td>{{ order.item.name }}</td>
                <td>
                    <order-status status="{{ order.status }}"></order-status>
                </td>
                <td>{{ order.created_datetime | date : "medium" }}</td>
                <td>
                    <order-action action="canceled"
                                  order="order"
                                  ng-if="order.status === 'waiting'"></order-action>
                    <order-action action="waiting"
                                  order="order"
                                  ng-if="order.status === 'canceled'"></order-action>
                    <order-action action="finished"
                                  order="order"
                                  ng-if="order.status === 'ready'"></order-action>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>