<div class="card text-center my-md-3">
    <img class="card-img-top" src="{{ $ctrl.data.image }}">
    <div class="card-body">
        <h5 class="card-title">{{ $ctrl.data.name }}</h5>
        <p class="card-text">{{ $ctrl.data.price | currency }}</p>
        <button type="button"
                class="btn btn-info"
                ng-click="addOrder($ctrl.data.id)">
            Order
        </button>
    </div>
</div>